input {
    padding: .75%;
    margin: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

#clear_button {
    padding: 1%;
    margin: 1.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7em;
}